<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous"
  />
  <link rel="stylesheet" href="./styles.css"  type="text/css"/>
    
    <title>Home</title>
</head>
<body>
    
    <a href="./index.html" class="home_header"> Log out</a>

    <div class="background_home">
        <img src="./images/bg_image.png" alt="">
    </div>

    <div class="container">
        <div class="row">
            <div class="col-4">
                <a href="#" class="wrapper_item">
                    <img src="./images/register.png" alt="" class="item_img">
                </a>
                <a href="#" class="item_desc">
                    Register
                </a>
            </div>

            <div class="col-4">
                <a href="#" class="wrapper_item">
                    <img src="./images/addphotos.png" alt="" class="item_img">
                </a>
                <a href="#" class="item_desc">
                    Add Photos
                </a>
            </div>

            <div class="col-4">
                <a href="#" class="wrapper_item">
                    <img src="./images/train.jpeg" alt="" class="item_img">
                </a>
                <a href="#" class="item_desc">
                    Train
                </a>
            </div>
          
        </div>

    </div>
</body>
</html>